

/* sec2 h3 Список переваг -------------------------------------------- */
.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
  }

  .features__item {

    @media screen and(min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2); //354px;
      
    }

    @media screen and(min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4); //270px;
      column-gap: 30px;
    }
  }
  
  /* Задаємо шапки над кожною перевагою */
  .features__icon-wrapper {
    @include flex-it;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    height: 120px;
    
    background-color: var(--secondary-background-color);

  }
  
  .features__header {
    margin: 30px 0 10px;
  
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
  
    text-transform: uppercase;
    color: var(--title-text-color);

    @media screen and(max-width: 767px) {
      text-align: center;
    }

  }
  .features__content {
    margin: 0;
    line-height: 1.71;
  
    color: var(--article-text-color);
  }
  