/* MAIN BANNER */

.hero {
    padding: 118px 0;
  
    height: 400px;
    max-width: 766px;  //розтянемо зібраження для володарів дорогих смартфонів

    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
    
    background-color: var(--hero-fallback-color);

    background-image: var(--hero-gradient), url("../images/hero-img-mob-1.jpg");
      @include retina {
        background-image: var(--hero-gradient), url(../images/hero-img-mob-2.jpg);
      }

    @include tablet {
      
      background-image: var(--hero-gradient), url("../images/hero-img-tab-1.jpg");

      @include retina {
        background-image: var(--hero-gradient), url(../images/hero-tab-2.jpg);
      }

      max-width: 1199px;
    }
    
    @include desktop {
      
      background-image: var(--hero-gradient), url("../images/hero-des-1.jpg");
      height: 400px;
      max-width: 1600px;

      @include retina {
        background-image: var(--hero-gradient), url(../images/hero-des-2.jpg);
      }

    }

    @media screen and(min-width: 1200px) {
      padding: 200px 0;
      height: 600px;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .hero__title {

   @media screen and (max-width: 478px) {
    font-size: 20px;
   } 
    margin-top: 0;
    margin-bottom: 30px;
  
    font-size: 26px;
    font-weight: 900;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: var(--primary-background-color);

    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  
  /* Кнопка замовлення */
  .button {
    padding: 10px 32px;
    min-width: 200px;

    @media screen and(min-width: 1200px) {
      min-width: 216px;
    }
    
  
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
  
    border-radius: 4px;
  
    color: var(--primary-background-color);
    background-color: var(--accent-color);
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  