.container {
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    //adaptive updates
    width: auto;
    min-width: 320px;

    @media screen and(min-width: 1200px) {
      width: 1200px;
    }
         
  }
  
  .section {
    padding: 94px 0;
  }
  
  .section--no-bottom {
    padding-bottom: 0;
  }

  .section--background-color {
    background-color: var(--secondary-background-color);
  }

  .list-styler {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .icon {
    fill: currentColor;
  }
  
  .socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
    
    border-radius: 50%;

    &.our-team__socials-list-styler {
      color: var(--border-color);
      background-color: var(--logo-color-contrast);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus 
      {
        color: var(--logo-color-contrast);
        background-color: var(--accent-color);
        outline: transparent;
      }
    }

    &.page-footer__socials-list-styler {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--logo-color-contrast);
      background-color: rgba(255, 255, 255, 0.1);
    
      &:hover,
      &:focus {
        background-color: var(--accent-color);
        outline: transparent;
      }
    }
  }
  
  