:root {
  --title-text-color: #212121;
  --article-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: rgb(255, 255, 255);
  --hero-background-color: rgba(47, 48, 58, 0.4);
  --hero-fallback-color: #c4c4c4;
  --primary-background-color-transp: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --border-color-portfolio: #eeeeee;
  --button-border-color: #000000;
  --border-color: #afb1b8;

  --header-line-color: #ececec;
  --footer-color: #2f303a;

  --logo-color-head: #2196f3;
  --logo-color-tail: #000000;
  --logo-color-contrast: #ffffff;

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}